.slider-container { text-align: center; }
.slider-content {
	max-width: 500px;
	margin: auto;
}
.slider { position: relative; }

/*button use for control the img you want*/
/*.sl-button {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	text-align: center;
	cursor: pointer;
}
.sl-black {
	font-size: 48px;
	color: white!important;
	background-color: white;
}
.sl-black:hover { color: white!important; }
.sl-display-left {
	position: absolute;
	top: 50%;
	left: -20%;
	transform: translate(0%, -50%);
}
.sl-display-right {
	position: absolute;
	top: 50%;
	right: -20%;
	transform: translate(0%, -50%);
}
/*the image bar to choose any image to show*/
.sl-section {
	margin-top: 16px!important;
	margin-bottom: 16px!important;
}
.sl-row-padding, 
.sl-row-padding>.sl-col { 
	padding: 0 8px;
}
.sl-row-padding::before, 
.sl-row-padding::after {
	content: "";
	display: table;
	clear: both;
}
.sl-col { float: left; }
.sl-col.s3 { width: 24.99999%; }
.sl-opacity  { opacity: 0.60; }
.sl-hover-opacity:hover { opacity: 1; }
.sl-opacity-off, 
.sl-opacity-off:hover {
	opacity: 1;
}
.sl-center img {
	width: 65px;
	height: 70px;
	transform: translate(0 , 25%);
}

.sl-animate-fading { animation: fading 5s infinite; }
@keyframes fading {	
	0% {opacity: 0} 
	50% {opacity: 1} 
	100%{opacity: 0} 
}
