.contain {
	max-width: 650px;
	margin: auto; 
	background-color: white;
}
.calendar { 
	margin-top: 7px;
    margin-left: 130px; 
	background-color: #2d2d2d; 
}
.content > table {
	width: 400px;
	height: 296px;
}
.content tr > td {
	cursor: pointer;
	width: 60px;
	height: 30px;
	text-align: center;
	border: 1px solid white;
}
.content tr > td:hover { border: 1px solid green; }
.button {
	cursor: pointer;
	text-align: center;
	color: blue;
	background-color: #a9cce3;
}
.select { 
       cursor: pointer; 
       width: 100%; 
       height: 100%; 
}
.days {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: red;
	background-color: #bebebe;
}
input#day-present {
	background: url("../Image/calendar.png") no-repeat right;
	background-size: contain;
	text-align: center
}
