.slider-container { text-align: center; }
.slider-content {
	max-width: 500px;
	margin: auto;
}
.slider { position: relative; }
/*Set button*/
.button {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	text-align: center;
	cursor: pointer;
}
.color {
	font-size: 60px;
	color: #000!important;
	background-color: white;
}
.color:hover { color: grey!important; }
.left {
	position: absolute;
	top: 50%;
	left: -20%;
	transform: translate(0%, -50%);
}
.right {
	position: absolute;
	top: 50%;
	right: -20%;
	transform: translate(0%, -50%);
}
/*Class content*/
.content{
	padding: 0 8px;
	padding-bottom:200px;
	padding-left: 548px;
}
.image-mini {
	float: left;
	opacity: 0.2;
	width: 12%;

}
.image-mini:hover {
	opacity: 1;
}
.image-mini img {
	max-width: 100px;
	max-height: 100px;
	height: 70px;
	transform: translate(0 , 50%);
}
/* effect opacity */
.effect {
	opacity: 1 !important; 
	animation-name: example;
    animation-duration: 1s;
}
@keyframes example {
    20%  {opacity: 0.5;}
    100% {opacity: 1;}
}
/* effect image top to bottom */
.animate-top {
	position: relative;
	animation: animatetop 0.4s;
}
@keyframes animatetop {
	from {top: -30px; opacity: 0}
	to {top: 0; opacity: 1}
}
