/*Set use for all*/
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: arial;
	color: #595959;
	font-size: 0.6875em;
}
.contain {
	max-width: 900px;
	min-height: 630px;
	margin: auto;
	padding-top: 5px;
	background-color: #121214;
}
.title-content {
	color: #fff;
	margin-bottom: 15px;
} 
.link-more {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 15px 0;
}
.link-more::before {
	content: url("../Image/arr_1.gif");
	margin-right: 5px;
	float: left;
}

/*Class content-left*/
/*Set content-left-avatar*/
.content-left {
	width: 520px;
	float: left;
	margin-top: 0;
	padding-left: 15px;
}
.content-left-avatar {
	margin: 30px 0px 20px 64px;
	padding: 10px 0 0 0;
}
.title-content-left-info { 
	color: #ffffff;
 	line-height: 10px;
	padding: 15px;
}
#title-content-left-avatar { padding: 1px 0 25px 0; }
.content-left-avatar img {
	float: left;
	margin: 7px 20px 20px 0;
	padding-bottom: 0;
	height: 90px;
	padding-top: 8px;
	padding-right: 5px;
}
.content-left-info {
	letter-spacing: 0;
	line-height: 18px;
	border-bottom: 1px dotted #595959;
	padding: 0 0 15px;
}
.content-left-info::after {
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
/*Set content-left-link*/
.content-left-link { margin: 70px 5px 20px 70px; 
	padding-top: 8px;
}
#content-left-info-text p:first-child { 
	color: #ffffff;
 	line-height: 10px;
}
.content-left-info-link {
	float: left;
	width: 50%;
	margin-top: 20px; 
}
.content-left-info-link ul li {
	list-style-type: none;
	margin-bottom: 5px;
	padding: 2px;
}
.content-left-info-link ul li a { color: #595959; }
.content-left-info-link ul li::before {
	content: url("../Image/arr.gif");
	margin-right: 10px; 
}

/*Class content-right*/
.content-right {
	float: left;
	height: 420px;
	margin: 20px 30px; 
	background-color: #232326;
	padding-top: 2px;
}
.content-right-avatar {
	margin: 70px 30px; 
	padding: 20px 10px;
	border-top: 1px solid #353439;
	padding-left: 3px;
	padding-right: 1px;
}
.content-right-avatar img {
	border-radius: 15px;
	width: 200px;
}
.content-right-text {
	margin: 0 0 20px 8px; 
	padding-top: 20px;
}
.content-right-text p:last-child { padding-top: 10px; }
.white {
	margin-bottom: 10px;
	color: #ffffff;
}
.content-bigcap {
	font-size: 12.5px;
}
.content-right-avatar a { padding: 30px 0 0 5px; }