* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	width: auto;
	height: auto;
	text-align: center;
	font-family: Arial;
}
.container {
    width: 800px;
    height: 600px;
    margin: 0 auto;
}
.text {
	font-family: "Algerian";
	font-size: 50px;
	text-shadow: 3px 3px 3px #a8a7a3;
}
#myCanvas {
    width: auto;
	height: auto;
	margin-top: 180px;
}
#myNote {
	width: 300px;
	height: 300px;
	margin-left: 50px;
}
