* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	width: auto;
	height: auto;
	text-align: center
	font-family: Arial;
}
.container {
    width: 1200px;
    height: 1200px;
    margin: 0 auto;
}
.text {
	font-family: "Algerian";
	font-size: 50px;
	text-shadow: 3px 3px 3px #a8a7a3;
}
#myCanvas {
    width: auto;
	height: auto;
	margin-top: 80px;
	padding-left: 400px;
	padding-top: 30px;
}
.left {
    width: 700px;
    height: 50px;
    margin-top:-1184px;
    font-family: Arial;
    font-size: 38px;
    transform: rotate(-90deg);
}
.top {
    width: 700px;
    height: 50px;
    /*margin-top:-20x;*/
	margin-left: 525px;
    font-family: Arial;
    font-size: 36px;
}
.last {
    width: 700px;
    height: 50px;
    margin-top:478px;
	margin-left: 500px;
    font-family: Arial;
    font-size: 36px;
}
